body {
  
    font-family: Arial;
    position: relative;
/*overflow-x: hidden; */
  }
 label{
    padding-left:60px;
  
  }
  .nav-style {
    overflow: hidden;
    background-color:  #a50044;
  }
  
  .nav-style a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-style a:hover {
    background-color: #ddd;
    color: #333;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .nav-style a.split-1 {
    float: left;
    background-color:#db0030;
    color: white;
  }
  .nav-style a.split-2 {
    float: right;
    background-color:  #004d98;
    padding: 15px 32px;
    border-radius: 50px;
    font-size: 15px;
    font-weight:500;
    color: white;
  }
  .nav_section{
    display:inline-flex;
    padding: 0px 300px;
  }
 
    .home_section {
      width: 100vw;
      height: 40vh;
      
      text-align: center;
      margin: 0px 10px;
  }
  .about_section {
    width: 100vw;
    height: 40vh;
    margin: 80px 10px;
   
  }
  .home_section default{

    object-fit: none;
    object-position: 5px 10%;
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #edbb00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 270px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 70px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-40%, -50%);
  transform: translate(0%, -70%);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
form{
  margin: 0px 390px;
}
.hr-style{
  border: 1px solid #000000;
}
.column {
  float: left;
  width: 33.33%;
  padding: 6px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
.column-2 {
  float: left;
  width: 35%;
  padding: 6px;
  margin-bottom: 60px;
  margin: 15px 5px;
  padding-left: 170px;
}
/* Clearfix (clear floats) */
.img-row::after {
  content: "";
  clear: both;
  display: table;
}
.style-img-column{
  float: left;
  width: 25%;
  padding: 6px;
  background-color: white;
  margin: 0 150px;
  
}
.style-img-row{
  content: "";
  clear: both;
  display: table;
}
.little-levites-logo-img{
  object-position: 60px 60%;
padding-left: 400px;
}
.card{
  margin: 15px 20px;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}
iframe{
 margin:  20px 410px;
 margin-top: 5px;
}
  #foot { 
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
   
 }
 
 